.sectionSecond{
    border-top: 1px solid #06283D;
    width: 100%;
    height: 26%;
}
    .p_center{
        text-align: center;
        margin-top: 0.1rem;
    }

    .se_Experience{
        border: 1px solid #06283d64;
        margin: 0.4rem 0;
        border-radius: 5px;
    }
    .exp_flexor{
        display: flex;
    }
        .exp_left{
            width: 20%;
        }
            .exp_left__p{
                margin-top: 1rem;
                text-align: center;
            }

        .exp_rigth{
            width: 80%;
            padding: 0.8rem;            
        }
            .exp_rigth__p{

            }
            .exp_rigth a{
                text-decoration: underline;
            }